<h1>Welcome to Patrick's Quiz 1</h1>

<p>
	Patrick is currently progressing through the Nomster app. He had his first mentor session this past Thursday, and was very pleased with the way it turned out. He feels like he is learning a lot in the program. While he is working on the Nomster app, he is also working through the Object Oriented Programming section trying to build the deck of cards. He isn't far from finishing that task. When that is completed, he will start to work on Image Blur #1, as well as work on setting up his personal blog.
</p>